.vscode/
local/raw_data/
local/memmap_data/
local/GTSRB/
local/models/
local/figures/
local/causal_data/
local/decoder_data/
modules/__pycache__/
modules/cslearn/__pycache__/
modules/cslearn/arch/__pycache__/
modules/causal_cs/__pycache__/
modules/comms/__pycache__/